[flake8]
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
ignore =
    # slice notation whitespace, invalid
    E203
    # too many leading ‘#’ for block comment
    E266
    # module level import not at top of file
    E402
    # line break before binary operator
    W503
    # blank line contains whitespace
    W293
    # line too long 
    E501
