build/
.cache
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
htmlcov/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
*/.ipynb_checkpoints/*
ipython_config.py
lib/
lib64/
MANIFEST
nosetests.xml
.nox/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
__pycache__/
*$py.class
*.py[cod]
.pytest_cache/
.Python
.python-version
sdist/
share/python-wheels/
*.so
.tox/
var/
.venv
venv/
venv.bak/
wheels/
